body {
  margin: 0;
  text-align: center;
  font-family: "Open Sans";
}
header {
  background-color: #404041;
  margin: 0;
  padding: 0;
  height: 100px;
  text-align: center;
  font-size: 2em;
}
.number {
  color: #ED458B;
  font-family: "Open Sans";
  font-weight: 700;
}

.guesser {
  color: #E6E7E8;
  font-family: "Open Sans";
  font-weight: 300;
}

.guest-guess {
  width: 500px;
  margin: 50px;
  height: 1.5em;
  font-family: "Open Sans";
  font-size: 2em;
}
.userNum {
  font-family: "Open Sans";
  color: #EB008B;
  font-size: 8em;
  margin: 0;
}

button {
    background-color: #929497;
    border: none;
    color: white;
    padding: 5px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    border-radius: 30px;
    min-width: 25%;
    margin: 20px;
    word-wrap: break-word;
    font-family: "Open Sans";
}
button[disabled=disabled], button:disabled {
  background-color: #D0D2D3;
}
button:hover {
  background-color: #EB008B;
}
.reset {
  background-color: #929497;
  border: none;
  color: white;
  padding: 5px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  border-radius: 30px;
  min-width: 50%;
  margin: 5px;
  word-wrap: break-word;
  font-family: "Open Sans";
}
.last-guess {
  font-size: 1.5em;
}
